version: "3.9"
services:
  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin12345
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  app:
    build: .
    container_name: go-app
    depends_on:
      - minio
    ports:
      - "8080:8080"

volumes:
  minio_data:
